body {
  background-color: rgb(230, 230, 230);
  font-family: inter;
}

h2 {
  color: #292929;
  font-weight: 800;
  line-height: 28px;
  font-size: 24px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.whiteBG {
  padding-top: 45px;
  padding-bottom: 90px;
  background: linear-gradient(180deg, #eaeaea00 0%, #FFF 10%, #FFF 90%, #eaeaea00 100%);
  
}

h2.sub-title {
  color: #000;
  font-family: "DM Sans";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;
}

header h1 {
  text-align: center;
  font-family: "DM Sans";
  font-size: 125px;
  letter-spacing: -5px;
  font-weight: 700;
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0) 10%,
    rgba(246, 173, 54, 0.81) 100%,
    #fca311 100%
  );
}

.portrude {
  box-shadow: -6px -6px 15px 0px #fafafa, 6px 6px 15px 0px #dadada;
}

.whiteBox {
  background-color: white;
  padding: 11px 13px 10px 13px;
  border-radius: 8px;
}

.category {
  display: flex;
  flex-direction: column;
}


.loop .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1030px;
    width: 55%;
    border-radius: 32px;
    background-color: red;
}

.miniComponent {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 185px;
    border-radius: 16px;
    background-color: white;
    
}

.miniComponent.new {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 5px;
    stroke: #3A3A3A;
}

.miniComponent.new svg {
    padding: 10px;
    margin: 58px 115px;
    transition: 0.3s;
}

.miniComponent img {
    width: 107px;
    border-radius: 16px;
    object-fit: cover;
    transition: 0.3s;
}

.miniText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 8px 6px 8px;
}

.miniText h2 {
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.miniText .author {
    font-size: 14px;
    padding-bottom: 4px;
}

.userCreated .container{
    background: #14213D;
}

.userCreated h2.sub-title {
    color: white;
}

.readLater .container{
    background: #F6BD60;
}

.readLater h2.sub-title {
    color: rgb(0, 0, 0);
}

.loop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    gap: 30px;
    display: flex;
}

.holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-9.combined {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mediumComponent {
  display: inline-flex;
  height: 255px;
  padding: 13px 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  border-radius: 16px;
  transition: 0.3s;
  box-shadow: -6px -6px 15px 0px #fafafa, 6px 6px 15px 0px #dadada;
}



.mediumComponent .whiteBox {
  display: flex;
  width: 277px;
  padding: 11px 13px 10px 13px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.mediumComponent .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
}

.mediumComponent p.author {
  padding-bottom: 0px;
  font-size: 17px;
}

.mediumComponent p.date {
  font-size: 11px;
}

.mediumComponent h2 {
  color: #181818;
  font-size: 19px;
  font-weight: 800;
  line-height: 21px;
  padding-bottom: 6px;
}

.largeComponent {
  background-size: cover;
  border-radius: 16px;
  display: inline-flex;
  height: 535px;
  padding: 13px 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  transition: 0.3s;
}

.largeComponent .whiteBox {
  display: flex;
  width: 604px;
  padding: 12px 13px;
  justify-content: space-between;
  align-items: flex-start;
}

.largeComponent h2 {
  width: 308px;
}

.tallComponent {
  background-size: cover;
  border-radius: 16px;
  display: flex;
  height: 535px;
  padding: 13px 10px;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
}

.tallComponent .whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  padding-bottom: 10px;
}

.tallComponent p.author {
  padding-bottom: 4px;
}

.tallComponent h2{
  padding-bottom: 8px;
}

.cardComponent {
  background-size: cover;
  display: inline-flex;
  width: 297px;
  border-radius: 16px;
  height: 255px;
  padding: 13px 10px;
  transition: 0.3s;
}

.cardComponent .whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.longComponent {
  background-size: cover;
  border-radius: 16px;
  display: inline-flex;
  height: 255px;
  padding: 13px 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0, 255, 234);
  transition: 0.3s;
}

.longComponent .whiteBox {
  display: flex;
  width: 604px;
  padding: 12px 13px;
  justify-content: space-between;
  align-items: flex-start;
}

.longComponent h2 {
  width: 308px;
}

.longComponent .category {
  align-items: end;
}

.mediumComponent:hover {
    padding-bottom: 25px;
}

.largeComponent:hover {
    padding-bottom: 25px;
}

.longComponent:hover {
    padding-bottom: 25px;
}

.tallComponent:hover {
    padding-bottom: 25px;
}

.cardComponent:hover {
    padding: 15px;
}

.miniComponent:hover img{
    width: 130px;
}

.miniComponent:hover svg{
    transform: scale(1.2);
}

p.author {
  color: #413f3c;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 7px;
}

p.date {
  font-size: 11px;
  font-weight: 600;
  color: rgb(233, 152, 1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(50, 50, 50) 5.5%, #252525 10%);
}

footer .flexy {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

footer img {
    padding-top: 30px;
    filter: invert(.9);
}

footer p,footer a {
    font-family: "DM Sans";
    font-weight: 500;
    padding-bottom: 8px;
    color: rgb(99, 99, 99);
    transition: 0.2s;
}

footer p:hover,footer a:hover {
    color: #3156a7;
    font-size: 19px;

}

button {
    border: none;
    padding: 8px;
    font-weight: 700;
    border-radius: 32px;
    font-family: "DM Sans";
    background-color: #F6BD60;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    font-weight: 800;
    color: #292929;
    background-color: #f5c77f;
    cursor: pointer;
}

input {
    border-radius: 8px;
    border: black;
    margin-bottom: 8px;
}

.storeButton {
    margin-top: 12px;
}

.storeFooter {
    margin-top: 20px;
}